@import url(./__container/comments__container.css);
@import url(../content-title/__comments/content-title__comments.css);
.comments {
    max-width: 1184px;
    margin: 102px auto 0;
}
@media screen and (max-width: 1024px) {
    .comments {
        max-width: 928px;
    }
}
@media screen and (max-width: 768px) {
    .comments {
        max-width: 660px;
    }
}
@media screen and (max-width: 425px) {
    .comments {
        margin-top: 64px;
        max-width: 343px;
    }
}
@media screen and (max-width: 320px) {
    .comments {
        max-width: 288px;
    }
}