.cover__link {
    background-image: url(../../../images/dmitrii-vaccinium.png);
    display: flex;
    position: relative;
    background-size: cover;
    flex-direction: column;
    text-decoration: none;
    color: white;
    min-height: 594px;
}
.cover__link:hover .cover__overlay {
    background: #000000;
    opacity: .5;
}

@media screen and (max-width: 1024px) {
    .cover__link {
        min-height: 562px;
    }
}
@media screen and (max-width: 768px) {
    .cover__link {
        min-height: 500px;
    }
}
@media screen and (max-width: 425px) {
    .cover__link {
        min-height: 272px;
    }
}
@media screen and (max-width: 320px) {
    .cover__link {
        min-height: 216px;
    }
}