.container__title {
    z-index: 1;
    margin: 12px 0 0 30px;
    max-width: 322px;
    font-weight: 900;
    font-size: 2.25rem;
    line-height: 1.08;
}
@media screen and (max-width: 768px) {
    .container__title {
        margin: 8px 0 0 24px;
        font-size: 1.5rem;
        line-height: 1.08;
    }
}
@media screen and (max-width: 425px) {
    .container__title {
        margin-left: 24px;
    }
}
@media screen and (max-width: 320px) {
    .container__title {
        margin-left: 16px;
    }
}
