.place__image {
    width: 100%;
    border: 1px solid red;
}
@media screen and (max-width: 1024px) {
    .place__image {
        width: 440px; 
    }
}
@media screen and (max-width: 768px) {
    .place__image {
        width: 330px;   
    }
}
@media screen and (max-width: 600px) {
    .place__image {
        width: 100%;
    }
}
