.place__website_url {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.66;
}
.place__website_url:hover {
    text-decoration-line: underline;
}