.video {
    max-width: 1184px;
    margin: 102px auto 0;
}
@media screen and (max-width: 1024px) {
    .video {
        max-width: 928px; 
    }
}
@media screen and (max-width: 768px) {
    .video {
        max-width: 720px; 
    }
}
@media screen and (max-width: 425px) {
    .video {
        margin-top: 64px;
        max-width: 343px; 
    }
}
@media screen and (max-width: 320px) {
    .video {
        max-width: 288px; 
    }
}