@import url(./_paragraph/place__paragraphs_paragraph.css);
.place__paragraphs {
    margin: 0 0 36px;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.66;
}
.place__paragraphs:last-of-type {
    margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
    .place__paragraphs {
        margin-bottom: 24px;
    }
}
@media screen and (max-width: 768px) {
    .place__paragraphs {
        font-size: 1rem;
        line-height: 1.7;
    }
}


