.footer__link {
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.7;
    margin-right: 18px;
    align-self: center;
}
.footer__link:last-of-type {
    margin-right: 0;
}
.footer__link:hover {
    text-decoration-line: underline;
}
@media screen and (max-width: 880px) {
    .footer__link {
        font-size: 1rem;
        line-height: 1.7;
    }
}
@media screen and (max-width: 670px) {
    .footer__link {
        font-size: 1.5rem;
        line-height: 1.7;
        margin: 0 auto 0 0;
    }
    .footer__link:last-of-type {
        margin-right: auto;
    }
}