.lead__title {
    max-width: 782px;
    margin: 0 auto 0;
    font-weight: 900;
    font-size: 6rem;
    line-height: 1;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .lead__title {
        max-width: 720px;
    }
}
@media screen and (max-width: 680px) {
    .lead__title {
        max-width: 343px;
        font-size: 2.5rem;
        line-height: 1.1;
    }
}