.intro__text {
    font-weight: bold;
    font-size: 0.812rem;
    line-height: 1.5;
}
@media screen and (max-width: 375px) {
    .intro__text {
        font-size: 0.75rem;
        line-height: 1.6;
    }
}