.container__subtitle {
    margin: 18px 0 30px 30px;
    font-weight: normal;
    z-index: 1;
    font-size: 0.875rem;
    line-height: 1.07;
}
@media screen and (max-width: 768px) {
    .container__subtitle {
        margin: 12px 0 24px 24px;
    }
}
@media screen and (max-width: 425px) {
    .container__subtitle {
        margin: 5px 0 24px 24px;
    }
}
@media screen and (max-width: 320px) {
    .container__subtitle {
    margin-left: 16px;
    margin-bottom: 16px;   
    }
}