.lead__caption {
    margin-top: 11px;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 0.625rem;
    line-height: 1.2;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
@media screen and (max-width: 768px) {
    .lead__caption {
        margin-left: 24px;
    }
}
@media screen and (max-width: 425px) {
    .lead__caption {
        margin-left: 16px;
    }
}