.video__container {
    display: flex;
    margin: 72px 0 0;
}
@media screen and (max-width: 1024px) {
    .video__container {
        margin-top: 73px;
    }
}
@media screen and (max-width: 768px) {
    .video__container {
        margin-top: 56px;
    }
}
@media screen and (max-width: 425px) {
    .video__container {
        margin-top: 24px;
        flex-direction: column;
        
    }
}